<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.st.assetTracking.sigfox" >

    <application>
        <activity android:name=".SigfoxTrackerConfig"
            android:label="@string/sigfox_config_title"/>
        <service
            android:name="com.st.assetTracking.sigfox.SampleSettingsBLEService"
            android:exported="false"/>
    </application>
</manifest>
